/* general page setup */
        html, body {
            height: 100%;
            margin: 0;
            font-family: arial, sans-serif;
            background-color: white;
            color: black;
            display: flex;
            flex-direction: column;
        }

        /* header and footer style */
        header, footer {
            background-color: #c21430; /* Lake Forest College red */
            color: white;
            padding: 30px;
            text-align: center;
        }

        /* logo in header */
        #logo {
            position: absolute;
            left: 15px;
            top: 5px; 
            height: 100px;
        }

        /* page title */
        h1 {
            margin: 0;
            font-size: 3em;
        }

        /* main content container */
        .container {
            width: 80%;
            margin: auto;
            padding-top: 20px;
            flex: 1;
        }

        /* main menu buttons */
        .menu-button {
            background-color: #c21430;
            color: white;
            padding: 15px;
            border: none;
            margin: 10px;
            width: 250px;
            cursor: pointer;
            font-size: 18px;
            border-radius: 5px;
            text-transform: capitalize; /* first letter uppercase */
        }

        .menu-button:hover {
            background-color: #9d1128;
        }

        /* submenu boxes */
        .submenu {
            display: none; /* hidden by default */
            padding: 20px;
            border-left: 5px solid #c21430;
            border-radius: 5px;
            margin-top: 20px;
        }

        /* reader submenu color */
        .reader-submenu {
            background-color: #ffeec6; /* Lake Forest College light yellow */
        }

        /* admin submenu color */
        .admin-submenu {
            display: none;
            padding: 20px;
            background-color: #edf2da; /* Lake Forest College light green */
            border-left: 5px solid #c21430;
            border-radius: 5px;
            margin-top: 20px;
        }

        /* buttons inside submenus */
        .submenu button {
            margin: 5px;
            padding: 10px 15px;
            background-color: #c21430;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-transform: capitalize; /* first letter uppercase */
        }

        .submenu button:hover {
            background-color: #9d1128;
        }

        /* input boxes */
        input {
            padding: 8px;
            margin: 5px;
            width: 250px;
            text-transform: capitalize; /* first letter uppercase */
        }